@charset "utf-8";

/* text stuff */
h2, p, ul {
    padding-left: 10%;
    padding-right: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    padding-top: 0;
    font-size: 2.7em;
}

ul {
    font-size: 1.5em;
    color: red;
}

p {
    padding-bottom: 10px;
    font-size: 1.5em;
    line-height: 1.5;
}

